# Wittenberg University 
## Homework #1
## Tayvone Morton
## 24 October 2021

# Chapter 2 
## Exercise (2,5,6,7,8)

# Question 2:

Explain whether each scenario is a classification or regression problem, and indicate whether we are most interested in inference or prediction. Finally, provide n and p.

(a) We collect a set of data on the top 500 firms in the US. For each firm we record profit, number of employees, industry and the CEO salary. We are interested in understanding which factors affect CEO salary.

Because we are interested in understanding which predictors affect salary, we would want to use a liner regrgession. When using regression analysis we want to infer not predict.
- regression 
- n = 500
- p = Number of employees, Profit, Industry, CEO's salary

(b) We are considering launching a new product and wish to know whether it will be a success or a failure. We collect data on 20 similar products that were previously launched. For each product we have recorded whether it was a success or failure, price charged for the product, marketing budget, competition price, and ten other variables.

We could use the information from past products to determine how likly our new product is succed. If these products share similarities, we might want to use a classification model to determine what makes successful produts sucessful. 
- Classification 
- n = 20 
- p = Sucess or Failure, Price change, Marketing Budget, Competition price, and ten other

(c) We are interested in predicting the % change in the USD/Euro exchange rate in relation to the weekly changes in the world stock markets. Hence we collect weekly data for all of 2012. For each week we record the % change in the USD/Euro, the % change in the US market, the % change in the British market, and the % change in the German market.

Because we are looking to predict the % change in USD/Euro we might wnat to use an auto-regression model
- regression 
- n = 52
- p = 4

# Question 5:

### What are the advantages and disadvantages of a very flexible (versus a less flexible) approach for regression or classification? Under what circumstances might a more flexible approach be preferred to a less flexible approach? When might a less flexible approach be preferred?
- Flexible models tend to be more robust. For example if we were dealing with a data set with high levels of dispersion we would want to use a flexiable model. On the other hand, when using a flexialbe model we have to be concered with overfitting. less flexible models tend to be easier to understand and can handle fewer observations.

# Question 6:

Describe the differences between a parametric and a non-parametric statistical learning approach. What are the advantages of a parametric approach to regression or classification (as opposed to a non-parametric approach)? What are its disadvantages?

- Parametric test relie on the assumption that the sample variance are the same and the distrabution is normal while nonparametric test do not. If we are looking to determine association i.e. we are concerned about the p-value we may look towards a parametric test. The disadvantage is that parametric test are less robust.

# Question 7:

In [2]:
# importing packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt

In [3]:
# building our df
df = pd.DataFrame({'Obs': [1, 2, 3, 4, 5, 6],
                   'X1': [0, 2, 0, 0, -1, 1],
                   'X2': [3, 0, 1, 1, 0, -1],
                   'X3': [0, 0, 3, 2, 1, 1],
                   'Y': ['Red', 'Red', 'Red', 'Green', 'Green', 'Red']})
df

   Obs  X1  X2  X3      Y
0    1   0   3   0    Red
1    2   2   0   0    Red
2    3   0   1   3    Red
3    4   0   1   2  Green
4    5  -1   0   1  Green
5    6   1  -1   1    Red

## Suppose we wish to use this data set to make a prediction for Y when X1 = X2 = X3 = 0 using K-nearest neighbors.

In [7]:
# (a) Compute the Euclidean distance between each observation and the test point,X1 =X2 =X3 =0. 
def euclidian_dist(x):
    return (np.sum(x**2, axis=1))**0.5

distance = pd.DataFrame({'eculideanDistance': euclidian_dist(df[['X1','X2','X3']])})
df_distance = pd.concat([df,distance],axis= 1)

df_distance

   Obs  X1  X2  X3      Y  eculideanDistance
0    1   0   3   0    Red           3.000000
1    2   2   0   0    Red           2.000000
2    3   0   1   3    Red           3.162278
3    4   0   1   2  Green           2.236068
4    5  -1   0   1  Green           1.414214
5    6   1  -1   1    Red           1.732051

In [18]:
k = 1
df_distance.nsmallest(k,'eculideanDistance')

   Obs  X1  X2  X3      Y  eculideanDistance
4    5  -1   0   1  Green           1.414214

### (b) What is the prediction when K=1? Why
- Our predicted value (y) is green beaceues that is the nearest value when our X values are set to 0

In [21]:
k = 3
df_distance.nsmallest(k,'eculideanDistance')

   Obs  X1  X2  X3      Y  eculideanDistance
4    5  -1   0   1  Green           1.414214
5    6   1  -1   1    Red           1.732051
1    2   2   0   0    Red           2.000000

### (c) What is our prediction with K = 3? Why? 
- Our prediction when k equals three is red because the probability of having a red observation is greater then having a green

### (d) If the Bayes decision boundary in this problem is highly non-linear, then would we expect the best value for K to be large or small? Why?
- If our boundary is non-linear we might want to cast a smaller net i.e. K value so we can give our modle more flexability when making associations